<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem List</title>
</head>
<body>
    <h1>Problems</h1>
    <ul>
    {% for problem in collections.problems | sort(attribute='data.title') %}
        <li>
            <a href="{{ problem.data.page.url }}">{{ problem.data.title }}</a>
            {% if problem.data.difficulty %}
            <span>({{ problem.data.difficulty }})</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
